* {
    box-sizing: border-box;
    color: #f5f5f5;
    font-family: Inter;
}
#root {
    background-color: #1a1b21;
    width: 317px;
    border-radius: 10px;
}
#root,
body,
main {
    margin: 0 auto;
}
body,
footer {
    display: flex;
    justify-content: center;
}
body {
    padding: 0;
    width: 550px;
    height: 868px;
    min-height: 100vh;
    width: 100vw;
    background: #23252c;
    align-items: center;
}
.avatar {
    width: 317px;
    height: 317px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}
footer {
    background-color: #161619;
    overflow: hidden;
    border-radius: 0 0 10px 10px;
}
.icon {
    margin: 19px 12px 20px;
    height: 25px;
    width: 25px;
    color: #918e9b;
    font-size: 27px;
}
main {
    width: 247px;
}
main h1,
main p {
    line-height: 150%;
}
main h1 {
    font-size: 1rem;
    font-weight: 700;
    margin: 0 0 5px;
}
main p {
    font-size: 10.24px;
    font-weight: 400;
    margin: 0 0 27px;
}
#interest {
    margin: 0 0 24px;
}
header {
    text-align: center;
    padding-bottom: 33px;
}
a {
    text-decoration: none;
}
button {
    width: 115px;
    height: 34px;
    border-radius: 6px;
    margin: 0 8.5px;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    border: 0;
}
button > span {
    margin-left: 8px;
}
#email-btn {
    border: 1px solid #d1d5db;
    background-color: #fff;
}
#email-btn > span > a {
    color: #374151;
}
#email-btn > i {
    color: #1e1f26;
}
#linkedin-btn {
    background-color: #5093e2;
}
#portfolio {
    font-size: 10.24px;
    line-height: 150%;
    color: #f5f5f5;
    margin: 0;
    padding-bottom: 15px;
}
#position {
    color: #f3bf99;
    font-size: 12.8px;
    font-weight: 400;
    margin: 0;
    padding-bottom: 8.81px;
}
header > h1 {
    margin: 21px 0 9px;
}
